<h1> 
  Biography
</h1>


<p>
  I am Francesco Varotto and I obtained my bachelor's and master's degree
  @University of Padova in Informatic Engineering and Cybersecurity, in 2017 and 2022, respectively.
  My master thesis focused on a new defence against website fingerprinting attacks, named <i>Divergent</i>
  (<a href="https://github.com/francevarotz98/Divergent">here</a> you can find the link to the project).
  
  My interests focus on: 
  <ul>
    <li> Network Security </li>
    <li> Web Security </li>
    <li> Reverse Engineering </li>
    <li> Side-Channels </li>
  </ul>
</p>

<p>
   <img src="/images/profile_photo.jpeg" alt="That's me">
</p>
    
