<!DOCTYPE html>
<html>
  <head>
    <style>
      div.myimg {
        width: fit-content;
        height: auto;
        background-color: white;
        box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 25px;
      }
      
      div.container {
        text-align: center;
        padding: 10px 20px;
      }
      
      img{
        border-radius: 50%;
      }
    </style>
  </head>

<body>  
<h1> 
  Biography
</h1>


<p>
  I am Francesco Varotto and I obtained my bachelor's and master's degree
  @University of Padova in Informatic Engineering and Cybersecurity, in 2017 and 2022, respectively.
  My master thesis focused on a new defence against website fingerprinting attacks, named <i>Divergent</i>
  (<a href="https://github.com/francevarotz98/Divergent">here</a> you can find the link to the project).
  
  My interests focus on: 
  <ul>
    <li> Network Security </li>
    <li> WebApp Security </li>
    <li> Reverse Engineering </li>
    <li> Side-Channel attacks </li>
  </ul>
</p>

<p>
<div class="myimg">
  <img src="/images/profile_photo.jpeg" alt="That's me">
  <div class="container">
    <p>... and that's me</p>
  </div>
</div>
   
</p>

<p>
Now I am working as a penetration tester.
</p>
</body>
</html>
